body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

.navbar {
  background-color: #343a40;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar button {
  background-color: #ffc107;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  color: #343a40;
  font-weight: bold;
}

.navbar button:hover {
  background-color: #e0a800;
}

.header {
  text-align: center;
  padding: 40px 20px;
  background-color: #ffc107;
  color: #ffffff;
  background-size: cover;
  opacity: 1.7;
  background-image: url("./assets/banner.jpg");
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2rem;
  font-style: italic;
}

.pizza-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card-pizza {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-pizza img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card-pizza h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #343a40;
}

.card-pizza p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 15px;
}

.card-pizza ul {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.card-pizza ul li {
  font-size: 1rem;
  color: #777;
  margin-bottom: 5px;
}

.btn-ver-mas {
  background-color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  color: #343a40;
  font-weight: bold;
  margin: 5px;
}

.btn-agregar {
  background-color: #e0a800;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  margin: 5px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #343a40;
  color: white;
  margin-top: 40px;
}

footer p {
  margin: 0;
  font-size: 1rem;
}
